* {
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
}

.button:hover,
.button:active,
.button:focus {
	border-color: none;
	color: #efefef;
}

.button.is-focused:not(:active),
.button:focus:not(:active) {
	-webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
}

/* Page Loader CSS */
#site {
	opacity: 0;
	transition: all 2s ease;
}

#preloader {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}

#preloader:before {
	content: "";
	display: block;
	position: absolute;
	left: -1px;
	top: -1px;
	height: 100%;
	width: 100%;
	-webkit-animation: rotation 1s linear infinite;
	animation: rotation 1s linear infinite;
	border: 1px solid #736EFE;
	border-top: 1px solid transparent;
	border-radius: 100%;
}

#preloader>.icon {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 25px;
	width: 10.6px;
	margin-top: -12.5px;
	margin-left: -5.3px;
	-webkit-animation: wink 1s ease-in-out infinite alternate;
	animation: wink 1s ease-in-out infinite alternate;
}

@media only screen and (min-width: 768px) {
	#preloader {
		height: 50%;
		width: 50%;
		margin-top: -30px;
		margin-left: -30px;
	}

	#preloader:before {
		left: -2px;
		top: -2px;
		border-top-width: 2px;
		border-left-width: 2px;
		border-bottom-width: 2px;
		border-right-width: 2px;
	}

	#preloader>.icon {
		height: 37.5px;
		width: 15.9px;
		margin-top: -18.75px;
		margin-left: -7.95px;
	}
}

@media only screen and (min-width: 1200px) {
	#preloader {
		height: 80px;
		width: 80px;
		margin-top: -40px;
		margin-left: -40px;
	}

	#preloader>.icon {
		height: 50px;
		width: 21.2px;
		margin-top: -25px;
		margin-left: -10.6px;
	}
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@-webkit-keyframes wink {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes wink {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.navbar-item {
	position: relative;
	font-size: 100%;
	font-weight: 400;
}

.navbar-brand h3 {
	font-weight: 400;
}

.navbar-link.is-active,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
	transition: 0.2s ease-in-out;
	color: #736EFE;
}

#navMenu.solid {
	background-color: #fff;
	height: 50px;
	-webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
}

.columnsCust {
	margin-top: 5rem;
}

.container {
	margin-bottom: 3.2rem;
}

.custCont {
	margin-bottom: 0;
}

.services {
	margin-top: 3.2rem;
}

.custBtn {
	padding: 28px 30px !important;
	vertical-align: middle;
	font-size: 16px !important;
	font-weight: 600;
	color: #efefef;
	border: 0px solid !important;
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	-webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
	margin: 0 auto;
	border-radius: 100px;
}

.custBtn2 {
	padding: 0 !important;
	width: 176.29700px;
	height: 60px;
}

.titleExt {
	margin-bottom: 2.5rem !important;
}

.titleExtTopPad {
	margin-top: 0 !important;
}

.content {
	padding-top: 50px;
}

.contentP {
	font-size: 0.9rem;
	padding: 5px 0;
}

.contentPico {
	color: #a2a3a4;
}

.fa-object-ungroup {
	color: #736EFE;
}

.icoTitle {
	padding: 10px 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
}

.sectionBg {
	background-color: #fafafa;
	padding-bottom: 80px !important;
}

.item {
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	max-height: 800px;
	height: auto;
	margin: 15px;
}

.hovereffect {
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: -webkit-linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
}

.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 3em;
	text-align: left;
}

.hovereffect img {
	display: block;
	position: relative;
	max-width: none;
	width: calc(100% + 61px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	-webkit-transform: translate3d(-40px, 0, 0);
	transform: translate3d(-40px, 0, 0);
}

.hovereffect h2 {
	text-transform: uppercase;
	color: #fff;
	position: relative;
	font-size: 17px;
	background-color: transparent;
	padding: 15% 0 10px 0;
	text-align: left;
}

.hovereffect .overlay:before {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 1px solid #fff;
	content: '';
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
}

.hovereffect a,
.hovereffect p,
.hovereffect h2 {
	color: #f3f3f3;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
}

.hovereffect:hover img {
	opacity: 0.6;
	filter: alpha(opacity=70);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.footer {
	background-color: #fff;
	border-top: 1px solid #cccccc;
	padding: 0;
	height: 50px;
}

.cells {
	padding: 10px 0 10px 0;
	font-size: 12px;
	line-height: 24px;
	margin: 0 auto;
}

.contactCell a {
	text-align: left;
	float: left;
	margin: 0 10px 0 0;
	color: #333333;
}

.socialCell a {
	text-align: right;
	float: right;
	margin: 0 10px 0 0;
	color: #333333;
}

.copyCell {
	margin: 0 auto;
	text-align: center;
}

.contactCell a:hover,
.socialCell a:hover,
.copyCell:hover {
	transition: 0.2s ease-in-out;
	color: #736EFE;
}

.logoPD h2 {
	font-size: 1.5em;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #efefef;
}

.padTop {
	padding-top: 10px;
}

.pt-80 {
	padding-top: 80px;
}

.pb-80 {
	padding-bottom: 80px;
}

.noBotPad {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.profile {
	max-height: 100%;
	max-width: 100%;
	z-index: -999999;
}

.proIco {
	width: 1.2em;
}

.contact {
	max-width: 100%;
	padding: 40px 20px;
}

.submitBtn {
	text-align: right;
}

.contactImg {
	padding: 40px 0;
}

.footTxt,
.footTxt a {
	color: #efefef;
	text-align: center;
}

.slickCar {
	max-width: 550px;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.slide h2 {
	position: relative;
}

.titleCase {
	text-align: left;
	font-size: 2.3em;
}

.subtitleCase {
	text-align: left;
	font-size: 13px;
	line-height: 1.4;
	color: #333;
	font-weight: 400;
}

.subtitleCase p {
	padding-bottom: 10px;
}

.client {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.clientLabel {
	font-size: 14px;
	font-weight: 700;
}

hr {
	background-color: #f5f5f5;
	border: none;
	display: block;
	height: 2px;
	margin: 1.5em 0;
}

.column label {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 90%;
	color: #888;
}

.nexPrev {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.prevnexBtn {
	border: 2px solid #736EFE;
	border-radius: 100px;
	color: #736EFE;
	font-weight: 700;
	transition: 0.2s ease-in-out;
}

.prevnexBtn:hover {
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	-webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
	border: none;
}

/* Material Icon Sizes */
.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

/* Black Icons on Bright Background */
.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}

/* White Icons on Dark Background */
.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}

/* Purple Colour for Icons */
.purpleIco {
	color: #736EFE;
}