html {
	font-family: 'Open Sans', sans-serif;
	border-radius: 0;
}

body {
	height: 100%;
}

.container {
	border-width: 25px 5px 5px 5px;
	border-color: #262626;
	border-style: solid;
	width: 952px;
	padding: 25px;
	font-size: 13px;
}

li a {
	color: #c5c8c6;
}

li a:hover,
li a:visited,
li a:active {
	text-decoration: none;
	transition: 0.3s;
}

#emails {
	color: #feca57;
}

#emails ul li a {
	color: #c5c8c6;
}

#emails ul li a:hover {
	color: #feca57;
}

#media {
	color: #ff6b6b;
}

#media ul li a {
	color: #c5c8c6;
}

#media ul li a:hover {
	color: #ff6b6b;
}

#socials {
	color: #48dbfb;
}

#socials ul li a {
	color: #c5c8c6;
}

#socials ul li a:hover {
	color: #48dbfb;
}

#dev {
	color: #1dd1a1;
}

#dev ul li a {
	color: #c5c8c6;
}

#dev ul li a:hover {
	color: #1dd1a1;
}

#doc {
	color: #f368e0;
}

#doc ul li a {
	color: #c5c8c6;
}

#doc ul li a:hover {
	color: #f368e0;
}

#extras {
	color: #ff9ff3;
}

#extras ul li a {
	color: #c5c8c6;
}

#extras ul li a:hover {
	color: #ff9ff3;
}

@media (min-width: 544px) {
	.container {
		font-size: 15px;
	}
}

@media (min-width: 768px) {
	.container {
		font-size: 15px;
	}
}

@media (min-width: 992px) {
	.container {
		font-size: 16px;
	}
}