<<<<<<< HEAD
.altInside {
	width: 95%;
	text-align: center;
}

.blurbBox, .startTeam, .blurbBoxes {
	display: inline-block;
	margin: 0 auto;
}

.gallery ul li {
	width: 45%;
}
=======
.altInside {
	width: 95%;
	text-align: center;
}

.blurbBox, .startTeam, .blurbBoxes {
	display: inline-block;
	margin: 0 auto;
}
>>>>>>> 5b773242ef110a177348f44abe52e8500d5c0351
